.principal{
    font-size: 1vw;
    font-weight: bold;
}
.rama{
    font-size: 0.9vw; margin-left: 0.9vw;
}
.rama:hover{
    font-size: 1vw; 
    border-style: solid;
    border-radius: 5px;
    border-color: darkgrey;
    cursor: pointer;
}
.sub-rama{
    font-size: 0.7vw; margin-left: 1.5vw;
}
.sub-rama:hover{
    font-size: 0.8vw; 
    border-style: solid;
    border-radius: 5px;
    border-color: darkgrey;
    cursor: pointer;
}